.container {
  background-color:#79a3b1 ;
  width: 1500px;
  height: 700px;
  padding: 50px 50px 50px 50px ;
  margin: 50px 50px 50px 50px ;


}

.table {
  background-color:#ffe9d6 ;
  width: 900px;
  height: 500px;
  padding: 10px 10px 10px 10px ;
  margin: 20px 20px 20px 20px ;


}
.card-header {
  background-color: #ff8585;
  width: 500px;
  height: 100px;
  padding: 50px 50px 50px 50px ;
  margin: 50px 50px 50px 50px ;


}
.table table-hover {
  background-color: #4e8d7c;
  width: 500px;
  height: 100px;
  padding: 50px 50px 50px 50px ;
  margin: 50px 50px 50px 50px ;

}

.tabledatavalue {
  white-space: nowrap;
  width: 500px;
  text-align: justify;
  text-size-adjust: auto;
  text-overflow: clip;
}

.tableheading {
  color: black;
  text-align: left;
  font-style: italic;
  padding: 10px 10px 10px 10px;
  margin: 50px 50px 50px 50px;
  font-size: 20px;
  line-height: 1.5em;
  column-gap: 15in;
}

/*    .tabledatavalueid {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
}

.tabledatavalueid:hover{
  overflow: visible;
  white-space:  normal;
  position: relative;
  width: auto;
  color: white;
  background-color:#999;
}
 */